@import url('core.css');
/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,wrapper,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header__left{
    display: flex;
    align-items: center;
}
.header__left .logo{
    cursor:pointer;
}
@media (max-width:510px) {
    .header__left .logo {
        width: 80px;
    }
}
.header__menu{
    display: flex;
    margin-left: 64px;
}
.header__menu > .menu__item{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    list-style-type: none; 
    text-transform: uppercase;
    border:1px solid transparent;
    margin-right: 60px;
}
.header__menu > .menu__item a:hover{
    border-bottom: 2px solid;
}
.header__menu > .menu__item a{
    text-decoration: none;
    color: #000000;
}
.header__right{
    max-width: 100%;
    margin-left: auto;
}
.header__right .user {
    margin-left: 23px;
}
@media (max-width:846px) {
    .header__right .user {
        width: 16px;
        height: 18px;
    }
}
@media (max-width:576px) {
    .header__right .user {
        width: 12px;
        height: 16px;
        margin-left: 10px;
    }
}
@media (max-width:420px) {
    .header__right .user {
        width: 10px;
        height: 14px;
        margin-left: 0px;
    }
}


/* Бургер меню */
@media (max-width:842px) {
    .menu-burger__header{
        position: relative;
        width: 40px;
        height: 45px;
        display: block;
        margin-left: 10px;
        margin-right: 30px;
    } 
    .menu-burger__header span,
    .menu-burger__header::after,
    .menu-burger__header::before{
        height: 3px;
        width: 100%;
        position: absolute;
        background:#373737;
        margin: 0px auto;
    }
    .header__nav{
        display: block;
        position: absolute;
        top: 100px;
        left: 0;
        background: rgb(245, 246, 246);
        width: 100%;
        height: 65%;
        box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
        left: -100%;
        transition: all 0.4s ease;
        z-index: 5;

    }
    .menu-burger__header span{
        top: 21px;
    }
    .menu-burger__header::after,
    .menu-burger__header::before{
        content: "";
    }
    .menu-burger__header::after{
        bottom: 8px;
    }
    .menu-burger__header::before{
        top: 8px;
    }
    .menu-burger__header.open-menu span {
        opacity:0; 
        transition: 0.5s; 
    }
    .menu-burger__header.open-menu:before {
        transform: rotate(45deg);
        top: 20px;
        transition: 0.4s;
    }
    .menu-burger__header.open-menu:after {
        transform: rotate(-45deg);
        bottom: 21px;
        transition: 0.4s;
    }
    .header__nav {
        background-color: rgb(217, 227, 239);
        background-image: url('../img/DOLLY_background.png');
        background-repeat: no-repeat;
        background-position: center 14%;
        background-size: contain;
    }
    .header__menu{
        display: block;
        margin-left: 0px;
    }  
    .menu__item{
        margin: 40px 0px 40px 33px;
    }
    .menu__item a{
        display: block;
        margin-left: 120px;
        font-size: 20px;
    }
    @media (max-width:420px) {
        .menu__item{
            margin-left: 40px;
        }   
        .menu__item a{
            margin-left: 0px;
            display: inline;
        }       
    }
    .header__nav.open-menu {
        left: 0;
    }
    .fixed-page{
        overflow: hidden; /*запрещаем прокручивание страницы при открытом меню*/
    }
}


/* Меню слева */
.category_catalog{
    display: flex;
}
.category h3{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #48494D;
    margin-bottom: 35px;
}
.category h3::after{
    content:'\2039';
    color: #757575;
    transform: rotate(90deg) scale(1.5);
    margin-left: 12px;
    display: inline-block;

}
.categ_item{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #757575;
    margin-bottom: 10px;
    padding: 5px;
}
.categ_item:hover{
    background: #D9E3EF;
}

.list{
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #48494D;
    margin-top: 30px;
}

.price_range{
    width: 187px;
    height: 1px;
    background-color:#CDCDCD;
    margin-top: 24px;
}
.range_black{
    margin-left: 55px;;
    width: 71px;
    height: 2px;
    background-color: #2a2a2a;
    display: flex;
    justify-content: space-between;
}
.beginning{
    width: 5px;
    height: 5px;
    background-color: #2a2a2a;
    border-radius: 50%;
    margin-top: -2px;
}
.end {
    width: 5px;
    height: 5px;
    background-color: #2a2a2a;
    border-radius: 50%;
    margin-top: -2px;
}
.span{
    margin-top: 22px;
}
.span span{
    font-size: 14px;
    line-height: 16px;
}
.span span:last-child{
    margin-left: 64px;
}
.brand .list{
    margin-bottom: 26px;
}
.brand .list::after {
    content: '\2039';
    color: #757575;
    transform: rotate(90deg) scale(1.5);
    margin-left: 12px;
    display: inline-block;
}
.input {
    border: 1px solid rgba(179, 179, 179, 1);
    margin-bottom: 27px;
    width: 205px;
    height: 25px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 5px;
}
@media (max-width:370px) {
    .input {
        width: 170px;
        height: 25px;
        padding: 5px;
        font-size:11px;
    }   
}
.checked{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: #000000;
}
.checked::before {
    content: '\2713'
}
.checked > span{
    margin-left: 42px;
}
.brand .top{
    margin-top: 10px;
}
.brand a{
    display:inline-block;
    margin-top: 22px;
    font-size: 16px;
    line-height: 22px;
    color: #7CBCEC;
}
@media (max-width:650px) {
    .main_nav h3 {
        font-size: 12px;
        line-height: 18px;
    }
    .categ_item {
        font-size: 12px;
        line-height: 18px;
    }
    .price .list {
        font-size: 12px;
        line-height: 18px;
    }
    .span span {
        font-size: 12px;
        line-height: 16px;
    }
    .list {
        font-size: 12px;
        line-height: 18px;
    }
    .brand a {
        font-size: 12px;
        line-height: 18px;
    }
}
@media (max-width:370px) {
  .price_range {
      width: 164px;
      height: 1px;
      background-color: #CDCDCD;
      margin-top: 24px;
  }
  .range_black {
      margin-left: 55px;
      width: 51px;
      height: 2px;
      background-color: #2a2a2a;
  }
}


/* Каталог с туфлями */
.catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 70px;
    margin-bottom: 160px;
    margin-left: 80px;
}
.catalog .style {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #757575;
    margin-top: 30px;
}
.catalog .style a:hover{
    border-bottom: 2px solid #000;  

}
.catalog .shoes img:hover{
    transform: scale(1.1);
    transition: 1s;
}
.catalog .price{
    display: block;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #48494D;
    margin-top: 17px;
}
@media (max-width:1220px) {
    .catalog {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 25px;
        margin-left: 50px;
    }
    .catalog .shoes {
        border: 1px solid;
    }
}
@media (max-width:1030px) {
    .catalog {
        grid-template-columns: repeat(3, 175px);
    }
    .catalog .style {
        font-size: 13px;
        line-height: 18px;
    }
}
@media (max-width:880px) {
    .catalog {
        grid-template-columns: repeat(2, 175px);
        column-gap: 80px;
    }
}
@media (max-width:700px) {
    .catalog {
        margin-left: 25px;
        column-gap: 40px;
        row-gap: 40px;
    }
}
@media (max-width:650px) {
    .catalog {
        grid-template-columns: repeat(2, 118px);
        column-gap: 80px;
    }
    .shoes{
        display:flex;
        flex-direction: column;
    }
    .catalog .style {
        font-size: 10px;
        line-height: 16px;
        flex:1;
    }
    .catalog .price{
        font-size: 15px;
        line-height: 20px;
        border: 1px solid; 
    }
}
@media (max-width:575px) {
    .catalog {
        grid-template-columns: repeat(2, 118px);
        column-gap: 20px;
        row-gap: 30px;
    }
}
@media (max-width:510px) {
    .catalog {
        grid-template-columns: repeat(1, 118px);
        margin-left: 80px;
        column-gap: 20px;
        row-gap: 30px;
    }
}
@media (max-width:430px) {
    .catalog {
        margin-left: 20px;
    }
}
@media (max-width:370px) {
    .catalog {
        grid-template-columns: repeat(1, 89px);
        margin-left: 20px;
    }
}


/* Футер */
.footer{
  background-color: #D9E3EF;
}
.wrapper{
   display: flex;
   align-items:center;
   justify-content: space-between;
   height: 139px;
}
.menu-wrapper{
    display: flex;
    justify-content: center;
}
.menu-wrapper_list{
    list-style-type: none;
    margin-right: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.menu-wrapper_list:last-of-type {  
    margin-right: 0;
}
.menu-wrapper_list a{
    text-decoration: none;
    color: #000000;
}
.socseti{
    cursor: pointer;
}
@media (max-width:1180px) {
    .menu-wrapper {
        flex-wrap: wrap;
    }
}
@media (max-width:1167px) {
    .socseti{
        margin-left: 20px;  
        margin-right: auto;
    }
}
@media (max-width:1063px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        margin: 25px 0px;
        padding: 0;
    }
}
@media (max-width:1050px) {
    .socseti{
      margin: 40px 0;
    }
}
@media (max-width:1015px) {
    .socseti{
        margin: 20px auto;
    }
}
@media (max-width:1001px) {
    .wrapper .logo {
        margin: auto 0;
    }
    .menu-wrapper {
        margin: 0px;
    }
    .menu-wrapper_list {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 12px;
        line-height: 16px;
    }
}
@media (max-width:987px) {
    .socseti{
        align-self: flex-end;
        margin-bottom: 15px;
    }
}
@media (max-width:975px) {
    .menu-wrapper {
        margin: 0 auto;
    }
    .menu-wrapper_list {
        margin-top: 20px;
    }
}
@media (max-width:654px) {
    .socseti {
        margin: 0;
    }
}
@media (max-width:612px) {
    .menu-wrapper_list {
        margin-right: 15px;
    }
}
@media (max-width:580px) {
    .wrapper {  
        margin-left: auto;
        margin-right: auto;
    }
    .socseti{
        margin: auto 0; 
    }
    .menu-wrapper_list{
        margin-right: 15px;
    }
}
@media (max-width:492px) {
    .wrapper .logo {
        margin: auto 0;
    }
}
@media (max-width:480px) {
    .navigation{
        margin-left: 15px;
    }
}